Methane Emissions/Archive/SP5.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation"
                }
              },
              "externalReferences": {
                "connection": "e34f9237-41a8-4d57-8106-3f3bf0a86fb6"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "maxConcurrentConnections": 10
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(\n     'sentinel5p/methane/raw/',\n     pipeline().parameters.Year,\n     '-',\n     pipeline().parameters.Month,\n     '-',\n     pipeline().parameters.Day\n   )",
                    "type": "Expression"
                  }
                }
              },
              "connectionSettings": {
                "name": "GreenSky_LH",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "e0efee7f-4d05-4685-b178-768ed7635e44",
                    "workspaceId": "060ba34b-f1a3-4509-a6e2-36d1e736a8eb",
                    "rootFolder": "Files"
                  },
                  "externalReferences": {
                    "connection": "219b5d0b-81dd-4bf5-9b83-98a242582d85"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('List_S3_Files').output.Contents",
            "type": "Expression"
          },
          "condition": {
            "value": "@contains(item().Key, '_methane_mixing_ratio.tif')",
            "type": "Expression"
          }
        },
        "name": "Filter_Methane_Files",
        "dependsOn": [
          {
            "activity": "List_S3_Files",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": {
            "value": "@concat(\n     'https://meeo-s5p.s3.amazonaws.com/?list-type=2&prefix=',\n     pipeline().parameters.ProcessingStream,\n     '/L2__CH4___/',\n     pipeline().parameters.Year,\n     '/',\n     pipeline().parameters.Month,\n     '/',\n     pipeline().parameters.Day,\n     '/'\n   )",
            "type": "Expression"
          },
          "headers": {}
        },
        "externalReferences": {
          "connection": "37c067b7-1c1e-4d2a-a9ca-c4359c2f2c59"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "List_S3_Files",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('Filter_Methane_Files').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "BinarySource",
                  "formatSettings": {
                    "type": "BinaryReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@item().Key",
                          "type": "Expression"
                        }
                      }
                    },
                    "externalReferences": {
                      "connection": "e34f9237-41a8-4d57-8106-3f3bf0a86fb6"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "BinarySink",
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "maxConcurrentConnections": 10
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat(\n     'sentinel5p/methane/raw/',\n     pipeline().parameters.Year,\n     '-',\n     pipeline().parameters.Month,\n     '-',\n     pipeline().parameters.Day\n   )",
                          "type": "Expression"
                        }
                      }
                    },
                    "connectionSettings": {
                      "name": "GreenSky_LH",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "d7635e44-768e-b178-4685-4d05e0efee7f",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "externalReferences": {
                          "connection": "219b5d0b-81dd-4bf5-9b83-98a242582d85"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy_Methane_Files",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_Methane_File",
        "dependsOn": [
          {
            "activity": "Filter_Methane_Files",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "ErrorLog",
          "value": {
            "value": "@concat('Error at: ', utcnow(), ' - '\n,activity('ForEach_Methane_File').error.message)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Error logs",
        "dependsOn": [
          {
            "activity": "ForEach_Methane_File",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "Year": {
        "type": "string",
        "defaultValue": "2024"
      },
      "Month": {
        "type": "string",
        "defaultValue": "11"
      },
      "Day": {
        "type": "string",
        "defaultValue": "21"
      },
      "ProcessingStream": {
        "type": "string",
        "defaultValue": "COGT/OFFL"
      }
    },
    "variables": {
      "ErrorLog": {
        "type": "String",
        "defaultValue": "No errors"
      }
    }
  }
}